:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: url("./assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background-color: #f8f9fa;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}


